Package: enigma2-plugin-skins-aglare-fhd-pli
Version: 5.1 
Section: base
Priority: required
Architecture: all
Maintainer: mnasr
Description: enigma2-plugin-skins-aglare-fhd-pli
Source: enigma2-plugin-skins-aglare-fhd-pli.bb
Depends: enigma2-plugin-extensions-bitrate 
Homepage: 
OE: enigma2-plugin-skins-aglare-fhd-pli
License: GPLv2+
